body{
    background-color:rgb(211, 222, 232);
    background-image:url('../image/gray-calathea-lutea-leaf-patterned.jpg');
    background-size:cover;
    background-attachment: fixed;
}
h1{
    margin-top: 5%;
    text-align: center;
    color: #393E46;
}
h3{
    font-size: 34px;
    color: #393E46;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}
.gambar-satu img{
    margin-left: 30%;
    flex: 0 0 40%;
    max-width: 40%;
    position: relative; 
    border-radius: 10px;
}  
.gambar-dua img{ 
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}    
table {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-weight: bold;
    color:darkblue;
}
.table-satu{
    border: 2px solid black;
}
.table-dua{
    border: 2px solid black;
}
.comment{
    text-align: center; 
 
}
.comment .form{
    height: 15px;
    width: 15%;
    font-size: 16px;
    border-radius: 24px;
    padding: 5px 15px;
    border: 1px solid grey;
}
.comment .message{
    height: 15px;
    width: 15%;
    font-size: 16px;
    border-radius: 24px;
    padding: 5px 15px;
    border: 1px solid grey;
}

.btn{
    font-size: large;
    text-align: center; 
    cursor: pointer;
    height: 50px;
    width: 270px;
    border: none;
    color: white;
    background-color: #333;
    border-radius: 100px;
    transition: all 0.5s ease;
}
.btn:hover{
    transform: scale(1.05);
    background-color: #111;
}