body{
    background-image: url('../image/gray-calathea-lutea-leaf-patterned.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
}
.title{
    font-family: 'Raleway', sans-serif;
}

.subtitle{
    letter-spacing: 10px;
}
#hero{
    height: 100vh;   
}
.img-hero{
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.text-about{
    text-indent: 50px;
    text-align: justify;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
}
.education li{
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    width: 25%;
    text-align: center;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;  
}

/* smartphone */

@media (min-width: 0px) and (max-width: 768px){
    .gambar--satu > img{
        flex: 0 0 80%;
        max-width: 80%;
    }
    h1{
        margin-top: 15%;
    }
    .navigation .box-navigation .box:nth-child(1){
        display: flex;
        position: absolute;
        top: 35px;
        background-color: #333;
        width: 95%;
        border-radius: 10px;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .navigation .box-navigation .menu-navigation.menu-active{
        opacity: 1;
        top: 65px;
        width: 95%;
        height: 150px;
    }
    .navigation .box-navigation .box:nth-child(1) ul{
        flex-direction: column;
    }
    .navigation .box-navigation .box:nth-child(1) ul li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .navigation .box-navigation .box:nth-child(1) ul li a{
        color:aliceblue;
        font-size: 16px;
        margin: auto;
    }       
    .navigation .box-navigation .box:nth-child(2) {
        display: inline-block;
    }    
    .navigation .box-navigation .box:nth-child(2) i{
        font-size: 28px;
        position: sticky;
    }
    
}

/* tablet */

@media (min-width: 768px){
    .gambar--satu > img{
        max-width: 60%;
    }
    h1{
        margin-top: 10%;
    }
}

/* pc */

@media (min-width: 1199px){
    .gambar--satu > img{
        flex: 0 0 40%;
        max-width: 40%;
    }
    h1{
        margin-top: 10%;
    }
}