body{
    background-image:url('../image/gray-calathea-lutea-leaf-patterned.jpg');
    background-size:cover;
    background-attachment: fixed;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    display: block;
    background-color: #333;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 46px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #111;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   border-radius: 100%;
}
h1{
    color: #00ADB5;
    color: #393E46;
    font-size: 34px;
    margin-top: 10%;
    font-weight: 600;
    text-align: center;
}
h2{
    color: #00ADB5;
    color: #393E46;
    font-size: 34px;
    margin-top: 20%;
    font-weight: 600;
    text-align: center;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;
}
.skill li{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 25%;
    text-align: center;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;   
}
.education li{
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    width: 25%;
    text-align: center;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;  
}
.contact-me{
    margin-bottom: 15%;
}

/* smartphone */

@media (min-width: 0px) and (max-width: 767px){
    .gambar--satu > img{
        flex: 0 0 80%;
        max-width: 80%;
    }
    h1{
        margin-top: 15%;
    }
}

/* tablet */

@media (min-width: 768px){
    .gambar--satu > img{
        max-width: 60%;
    }
}

/* pc */

@media (min-width: 1199px){
    .gambar--satu > img{
        flex: 0 0 40%;
        max-width: 40%;
    }
}