body{
    background-image: url('../image/gray-calathea-lutea-leaf-patterned.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
}
header{
    width: 100%;
    padding: 5px;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.navigation{
    width: 100%;
    padding: 10px 0 10px 0;
}
.navigation .box-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation .box-navigation .box:nth-child(1) ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navigation .box-navigation .box:nth-child(1) li{
    list-style-type: none;
}
.navigation .box-navigation .box:nth-child(1) ul li a{
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
    padding: 25px 40px;
    transition: all 0.3s ease;
}
.navigation .box-navigation .box:nth-child(1) a:hover{
    background-color: #111;
}
.navigation .box-navigation .box:nth-child(2) {
    display: none;
    cursor: pointer;
}
.navigation .box-navigation .box:nth-child(2) i{
    float: right;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   border-radius: 100%;
}
h1{
    color: #00ADB5;
    color: #393E46;
    font-size: 34px;
    margin-top: 5%;
    font-weight: 600;
    text-align: center;
}
h2{
    color: #00ADB5;
    color: #393E46;
    font-size: 34px;
    margin-top: 20%;
    font-weight: 600;
    text-align: center;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;
}
.skill li{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 25%;
    text-align: center;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;   
}
.education li{
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
    width: 25%;
    text-align: center;
    color: #EEEEEE;
    color: #484d55;
    font-size: 18px;  
}
.portfolio a{
    text-decoration: none;
}
.contact-me{
    margin-bottom: 15%;
}
.contact-me a{
    text-decoration: none;
}

/* smartphone */

@media (min-width: 0px) and (max-width: 768px){
    .gambar--satu > img{
        flex: 0 0 80%;
        max-width: 80%;
    }
    h1{
        margin-top: 15%;
    }
    .navigation .box-navigation .box:nth-child(1){
        display: flex;
        position: absolute;
        top: 35px;
        background-color: #333;
        width: 95%;
        border-radius: 10px;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .navigation .box-navigation .menu-navigation.menu-active{
        opacity: 1;
        top: 65px;
        width: 95%;
        height: 150px;
    }
    .navigation .box-navigation .box:nth-child(1) ul{
        flex-direction: column;
    }
    .navigation .box-navigation .box:nth-child(1) ul li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .navigation .box-navigation .box:nth-child(1) ul li a{
        color:aliceblue;
        font-size: 16px;
        margin: auto;
    }       
    .navigation .box-navigation .box:nth-child(2) {
        display: inline-block;
    }    
    .navigation .box-navigation .box:nth-child(2) i{
        font-size: 28px;
        position: sticky;
    }
    
}

/* tablet */

@media (min-width: 768px){
    .gambar--satu > img{
        max-width: 60%;
    }
    h1{
        margin-top: 10%;
    }
}

/* pc */

@media (min-width: 1199px){
    .gambar--satu > img{
        flex: 0 0 40%;
        max-width: 40%;
    }
    h1{
        margin-top: 10%;
    }
}